extend layout

block content
  .container
    h1= title
    h2 Create a Poll
    form(action='/polls', method='POST')
      .form-group
        | Poll Question:
        input(type='text', name='poll_question')
      button.btn.btn-default(type='add_option')#add_option
        | Add another option
      .form-group#options
        | Option:
        input(type='text', name='poll_options[]')
        br
        | Option:
        input(type='text', name='poll_options[]')
        br
      .form-group
        | Check this box to share poll results with participants
        br
        input(type='checkbox', name='shareResults')
      button.btn.btn-default(type='submit')
        | Submit
