extend layout

block content
  .container
    h1= title
    h2 Create a Poll
    form(action='/polls', method='POST')
      .form-group
        | Poll Question:
        input(type='text', name='poll_question')
      .form-group
        | Option 1:
        input(type='text', name='option-1')
        br
        | Option 2:
        input(type='text', name='option-2')
      button.btn.btn-default(type='submit')
        | Submit
