extend layout

block content
  .container
    h1= poll.poll_question
    #choices
      each option in poll.poll_options
        button(class=poll.votingId)= option
    #vote-confirmation
    p Please note that you can only vote once. If you vote more than once, only the most recent vote will be counted.
