extend layout

block content
  .container
    h1= title + ' Dashboard'
    h2 Link to This Dashboard
    a(href=poll.dashboardLink, target='_new')= poll.dashboardLink
    h2 Link to Share Poll
    a(href=poll.votingLink, target='_new')= poll.votingLink
    h2 Poll Results
    #vote-results
    if poll.votes.length
      p No results yet
    else
      p results soon
