extend layout

block content
  .container
    if poll.open
      #poll_status
        h1= poll.poll_question
        #choices
          p Please note that you can only vote once. If you vote more than once, only the most recent vote will be counted.
          each option in poll.poll_options
            button(class=poll.votingId)= option
      #vote-confirmation
      if poll.shareResults
        h3 Voting Results
        #votes_share
          each option in poll.poll_options
            p= option + ': ' + poll.voteTally[option]
    else
      p This poll has been closed for voting
